{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
<!-- <div class="jumbotron text-center" id="front-splash">
    <h1 class="display-4">Make Heggedal</h1>
</div>
 -->
<div class="container-fluid">
    <div class="row" id="front-splash">
        <div class="col-12 my-auto text-center">
            <h1 class="display-4">Make Heggedal</h1>
        </div>
    </div>

    <div class="row pt-5 text-center">
        <div class="col-10 offset-1 col-lg-8 offset-lg-2">
            {{ this.body }}
        </div>
    </div>
</div>
{% endblock %}